<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/updateOk" method="post">
    아이디 : <input type="text" name="rid"><br>
    비밀번호 : <input type="password" name="rpwd"><br>
    <input type="hidden" value="<%=r_id%>" name="r_id">
    <input type="submit" value="update">
</form>
</body>
</html>