<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>글쓰기</h1>
<form action="/write" method="post">
    제목 : <input type="text" name="title"><br>
    내용 : <textarea name="contents"></textarea><br>
    <input type="submit" value="확인">
</form>
</body>
</html>